<div class="chat-container h-full w-full flex flex-col">
    <app-chat-toolbar
        (clearChat)="clearChat()"
        (loadPrevious)="loadPreviousMessages()"
    >
    </app-chat-toolbar>
    <div class="flex-1">
        <dx-chat
            [showDayHeaders]="false"
            [class.dx-chat-disabled]="isDisabled"
            [height]="'100%'"
            [width]="'100%'"
            [user]="currentUser"
            [items]="(messages$ | async) || []"
            [showAvatar]="false"
            [typingUsers]="(userChatTypingUsers$ | async) || []"
            (onMessageEntered)="onMessageEntered($event)"
            (onTypingStart)="userChatOnTypingStart()"
            (onTypingEnd)="userChatOnTypingEnd()"
        >
        </dx-chat>
    </div>
</div>
