<div class="flex h-full w-full">
  <div class="scheduler-container">
    <dx-scheduler
      timeZone="Europe/Berlin"
      dateSerializationFormat="yyyy-MM-ddTHH:mm:ss"
      [dataSource]="appointments"
      [views]="['day', 'week', 'workWeek', 'month', 'agenda']"
      [currentView]="currentView"
      [currentDate]="currentDate"
      [firstDayOfWeek]="1"
      [startDayHour]="7"
      [endDayHour]="20"
      [showAllDayPanel]="true"
      [height]="'100vh'"
      [editing]="{
        allowAdding: true,
        allowDeleting: true,
        allowUpdating: true,
        allowDragging: true
      }"
      appointmentTemplate="appointmentTemplate"
      appointmentTooltipTemplate="tooltipTemplate"
      (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
      (onAppointmentAdded)="onAppointmentAdded($event)"
      (onAppointmentUpdated)="onAppointmentUpdated($event)"
      (onOptionChanged)="onOptionChanged($event)"
    >
      <!-- * Template Della Box dell'appuntamneto nello Schedulers -->
      <div
        *dxTemplate="let data of 'appointmentTemplate'"
        [class]="
          getPriorityClass(data.appointmentData.priority, data.isCompleted) +
          ' ' +
          getAppointmentClass(data)
        "
      >
        <!-- *Custom Template for Agenda view -->
        <div
          *ngIf="currentView === 'agenda'"
          class="flex items-center justify-between w-full px-4 py-2 space-x-4"
        >
          <div class="flex-1 font-semibold truncate max-w-[60%]">
            {{ data.appointmentData.text }}
          </div>

          <div class="flex-none text-sm text-gray-200 w-[15%]">
            {{ formatAppointmentDate(data.appointmentData.startDate) }} -
            {{ formatAppointmentDate(data.appointmentData.endDate) }}
          </div>

          <div class="flex items-center space-x-4">
            <span
              [style.color]="getPriorityColor(data.appointmentData.priority)"
              class="text-sm "
            >
              {{ data.appointmentData.priority }}
            </span>
            <div
              class="text-sm"
              [ngClass]="{
                'text-green-500': data.appointmentData.isCompleted,
                'text-red-500': !data.appointmentData.isCompleted
              }"
            >
              {{
                data.appointmentData.isCompleted ? "Completed" : "Not Completed"
              }}
            </div>
          </div>
        </div>
        <!-- ********************************************************* -->

        <!-- *Custom Template for Month view -->
        <div *ngIf="currentView === 'month'" class="appointment">
          <div class="flex-1 font-semibold truncate">
            {{ data.appointmentData.text }}
          </div>
        </div>
        <!-- ********************************************************* -->

        <!-- *Custom Template for Regular Scheduler view -->
        <!-- ! TO BE POLISHED (Priority Banner needed?? and Time must be clear) -->
        <div
          *ngIf="currentView !== 'agenda' && currentView !== 'month'"
          class="appointment"
        >
          <div class="appointment-title">{{ data.appointmentData.text }}</div>
          <div class="appointment-time">
            {{ formatAppointmentDate(data.appointmentData.startDate) }} -
            {{ formatAppointmentDate(data.appointmentData.endDate) }}
          </div>
          <div
            class="font-bold w-24 text-center rounded px-2 ms-1"
            [class]="'priority-box-' + data.appointmentData.priority.toLowerCase()"
          >
            {{ data.appointmentData.priority }}
          </div>
        </div>
        <!-- ********************************************************* -->

      </div>
      <!-- ********************************************************* -->

      <!-- * Tooltip Custom -->
      <div *dxTemplate="let data of 'tooltipTemplate'" class="custom-tooltip">
        <div class="tooltip-header">
          <div class="tooltip-title">{{ data.appointmentData.text }}</div>
          <div class="flex flex-col gap-1 flex-shrink-0">
            <div
              class="tooltip-status"
              [class.completed]="data.appointmentData.isCompleted"
              [class.not-completed]="!data.appointmentData.isCompleted"
            >
              {{
                data.appointmentData.isCompleted ? "Completed" : "Not Completed"
              }}
            </div>
            <div
              class="tooltip-priority"
              [class]="'priority-box-' + data.appointmentData.priority.toLowerCase()"
            >
              {{ data.appointmentData.priority }}
            </div>
          </div>
        </div>
        <div class="tooltip-time">
          <i class="fas fa-clock"></i>
          {{ formatAppointmentDate(data.appointmentData.startDate) }} -
          {{ formatAppointmentDate(data.appointmentData.endDate) }}
        </div>

        <!-- *Action Buttons -->
        <div class="w-full flex justify-between">
          <dx-button
            [icon]="data.appointmentData.isCompleted ? 'unpin' : 'pin'"
            class="tooltip-toggle-btn"
            [width]="'48%'"
            [text]="
              data.appointmentData.isCompleted
                ? 'Mark as Incomplete'
                : 'Mark as Complete'
            "
            [type]="data.appointmentData.isCompleted ? 'warning' : 'default'"
            (onClick)="
              toggleAppointmentCompletion(data.appointmentData, $event)
            "
          ></dx-button>
          <dx-button
            icon="trash"
            class="tooltip-toggle-btn"
            [width]="'48%'"
            text="Delete Appointment"
            type="danger"
            (onClick)="onAppointmentDeleted($event, data)"
          ></dx-button>
        </div>
      </div>
      <!-- ********************************************************* -->
    </dx-scheduler>
  </div>
  <div class="w-full h-full p-2">
    <app-chat></app-chat>
  </div>
</div>
