<dx-drawer
  class="h-screen bg-[#111827] pt-2 border-e-2 border-accent relative"
  [opened]="isDrawerOpen"
  [minSize]="50"
  [closeOnOutsideClick]="false"
  openedStateMode="shrink"
  revealMode="expand"
  template="menu"
>
  <div *dxTemplate="let data of 'menu'" class="h-full flex flex-col">
    <!-- TRY 2 -->
    <div class="fixed top-2 left-3 z-50 text-white">
      <dx-button
        icon="menu"
        stylingMode="text"
        (onClick)="toggleDrawer()"
        [width]="32"
        [height]="32"
        class="text-3xl"
      >
      </dx-button>
    </div>
    <!-- Toggle Sidebar -->
    <!-- <div class="p-2 absolute top-0 right-0">
      <dx-button
        icon="menu"
        stylingMode="text"
        (onClick)="toggleDrawer()"
        [width]="32"
        [height]="32"
      >
      </dx-button>
    </div> -->
    <!-- Lista principale -->
    <div class="flex-grow pt-8">
      <dx-list
        [items]="navigation"
        [focusStateEnabled]="false"
        (onItemClick)="onMainItemClick($event)"
        [width]="200"
      >
        <div *dxTemplate="let item of 'item'" class="flex items-center">
          <i class="text-3xl dx-icon dx-icon-{{ item.icon }}" style="--dx-icon-size: 40px;"></i>
          <span class="ms-2 text-lg">{{ item.text }}</span>
        </div>
      </dx-list>
    </div>

    <!-- Logout -->
    <div class="mt-auto">
      <dx-list
        [items]="logout"
        [focusStateEnabled]="false"
        (onItemClick)="onLogoutClick($event)"
        [width]="200"
      >
        <div *dxTemplate="let item of 'item'" class="flex items-center">
          <i class="text-3xl dx-icon dx-icon-{{ item.icon }}"></i>
          <span class="text-lg ms-2 icon-red">{{ item.text }}</span>
        </div>
      </dx-list>
    </div>
  </div>
</dx-drawer>
