<dx-drawer class="h-screen bg-[#111827] pt-2 border-e-2 border-accent"
  [opened]="true"
  [closeOnOutsideClick]="false"
  openedStateMode="shrink"
  revealMode="slide"
  template="menu">
  <div *dxTemplate="let data of 'menu'" class="h-full flex flex-col">

    <!-- Lista principale -->
    <div class="flex-grow">
      <dx-list
        [items]="navigation"
        [focusStateEnabled]="false"
        (onItemClick)="onMainItemClick($event)"
        [width]="200">
        <div *dxTemplate="let item of 'item'" class="flex items-center">
          <i class="dx-icon dx-icon-{{item.icon}}"></i>
          <span class="ms-1">{{item.text}}</span>
        </div>
      </dx-list>
    </div>

    <!-- Logout -->
    <div class="mt-auto">
      <dx-list
        [items]="logout"
        [focusStateEnabled]="false"
        (onItemClick)="onLogoutClick($event)"
        [width]="200">
        <div *dxTemplate="let item of 'item'" class="flex items-center">
          <i class="dx-icon dx-icon-{{item.icon}}"></i>
          <span class="ms-1">{{item.text}}</span>
        </div>
      </dx-list>
    </div>
  </div>
</dx-drawer>
