<dx-drawer
  class="h-screen bg-bg-primary pt-2 border-e-2 border-bg-secondary relative"
  [opened]="isDrawerOpen"
  [minSize]="50"
  [closeOnOutsideClick]="false"
  openedStateMode="shrink"
  revealMode="expand"
  template="menu"
>
  <div *dxTemplate="let data of 'menu'" class="h-full flex flex-col">
    <!-- Lista principale -->
    <div class="flex-grow">
      <dx-list
        [items]="navigation"
        [focusStateEnabled]="false"
        (onItemClick)="onMainItemClick($event)"
        [width]="200"
      >
        <div *dxTemplate="let item of 'item'" class="flex items-center">
          <i
            class="text-3xl dx-icon dx-icon-{{ item.icon }}"
            style="--dx-icon-size: 40px"
          ></i>
          <span class="ms-2 text-lg">{{ item.text }}</span>
        </div>
      </dx-list>
    </div>

    <!-- Logout -->
    <div class="mt-auto">
      <dx-list
        [items]="logout"
        [focusStateEnabled]="false"
        (onItemClick)="onLogoutClick($event)"
        [width]="200"
      >
        <div *dxTemplate="let item of 'item'" class="flex items-center">
          <i class="text-3xl dx-icon dx-icon-{{ item.icon }}"></i>
          <span class="text-lg ms-2 icon-red">{{ item.text }}</span>
        </div>
      </dx-list>
    </div>
  </div>
</dx-drawer>
