<div class="flex w-screen">
  <app-sidebar></app-sidebar>
  <div class="p-6 w-full">
    <h1 class="text-3xl text-white font-bold mb-6">{{ title }}</h1>
    <!-- Grafico a barre per le statistiche -->
    <dx-chart
      [dataSource]="statisticsData"
      title="Appointment Statistics"
      palette="Soft Blue"
    >
      <dxi-series argumentField="category" valueField="value" type="bar">
      </dxi-series>
      <dxo-tooltip [enabled]="true"></dxo-tooltip>
    </dx-chart>
    <div class="flex justify-between">
      <!-- Grafico a cerchio per la percentuale di cancellation rate -->
      <div class="mt-10 w-1/2">
        <dx-circular-gauge
          id="rangebar"
          [value]="cancellationRate * 100"
          [title]="{ text: 'Cancellation Rate', font: { size: 24 } }"
        >
          <dxo-value-indicator type="rangebar" color="#f05b41">
          </dxo-value-indicator>
          <dxo-geometry [startAngle]="180" [endAngle]="0"> </dxo-geometry>
          <dxo-scale [startValue]="0" [endValue]="100" [tickInterval]="10">
            <dxo-label [customizeText]="customizeText"></dxo-label>
          </dxo-scale>
          <dxo-tooltip [enabled]="true"></dxo-tooltip>
        </dx-circular-gauge>
      </div>
      <!-- List/TileView di Upcoming Appointments -->
      <div class="mt-10 w-1/2">
        <h3 class="text-[24px] text-white mb-2">
          Upcoming Appointments
        </h3>
        <dx-list
          [items]="upcomingAppointments"
          [focusStateEnabled]="false"
          [width]="500"
        >
          <div *dxTemplate="let item of 'item'">
            <span class="ms-1">{{ item.text }}</span>
            <span class="ms-1">{{ item.date }}</span>
          </div>
        </dx-list>
      </div>
    </div>
  </div>
</div>
