<div class="flex w-screen h-screen">
  <app-sidebar></app-sidebar>
  <div class="w-full p-6">
    <div class="text-center w-full mb-8">
      <h1 class="text-3xl font-bold mb-4">Welcome to the AI Scheduler</h1>
      <p class="text-lg mb-2">Optimize your schedule with intelligent AI support.</p>
      <p class="text-md mb-2">Navigate through the sidebar to access different functionalities.</p>
      <p class="text-md">Explore the features and make the most out of your scheduling experience.</p>
    </div>
  </div>
</div>
