<div class="flex w-screen h-screen">
  <app-sidebar></app-sidebar>
  <div class="scheduler-container">
    <dx-scheduler
      timeZone="Europe/Berlin"
      [dataSource]="appointments"
      [views]="['day', 'week', 'workWeek', 'month', 'agenda']"
      [currentView]="currentView"
      [currentDate]="currentDate"
      [firstDayOfWeek]="1"
      [startDayHour]="8"
      [endDayHour]="20"
      [showAllDayPanel]="true"
      [height]="'100vh'"
      [editing]="{
        allowAdding: true,
        allowDeleting: true,
        allowUpdating: true,
        allowDragging: true
      }"
      dateSerializationFormat="yyyy-MM-ddTHH:mm:ss"
      (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
      (onAppointmentAdded)="onAppointmentAdded($event)"
      (onAppointmentUpdated)="onAppointmentUpdated($event)"
      (onAppointmentDeleted)="onAppointmentDeleted($event)"
    >
      <dxi-resource
        fieldExpr="status"
        label="Status"
        displayExpr="text"
        valueExpr="text"
        [dataSource]="status"
        [useColorAsDefault]="true"
      >
      </dxi-resource>
      <dxi-resource
        fieldExpr="isCompleted"
        label="Completion Status"
        [dataSource]="isCompleted"
        displayExpr="text"
        valueExpr="id"
        [useColorAsDefault]="true"
      >
      </dxi-resource>
    </dx-scheduler>
  </div>
  <div class="w-full h-full">
    <app-chat></app-chat>
  </div>
</div>
