/* You can add global styles to this file, and also import other style files */
@import './dx.fluent.fluent-eddy-v3.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex{
    display: flex;
}

body{
    background-color:#111827;
}

/* override del colore dell indicatore  */
.dx-scheduler-date-time-indicator {
  background-color: rgba(79, 70, 229, 1) !important;
  border-color: rgba(79, 70, 229, 1) !important;
}
