/* You can add global styles to this file, and also import other style files */
@import './dx.fluent.fluent-eddy-v3.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

body{
    background-color:#111827;
}

/* override del colore dell indicatore  */
.dx-scheduler-date-time-indicator {
  background-color: #818CF8 !important;
  border-color: #818CF8 !important;
}

.dx-scheduler-time-panel-current-time-cell{
  color: white !important;
}

.dx-scheduler-header-panel-current-time-cell{
  color: white !important;
}
.dx-scheduler-header-panel-current-time-cell .dx-scheduler-header-panel-cell-date{
  color: white !important;
}

.shared-with .dx-texteditor-input{
  background-color: #10151C !important;
  /* color: white !important; */
}

.shared-with .dx-dropdowneditor-icon {
  background-color: #10151C !important;
  /* color: white !important; */
}

.shared-with .dx-texteditor-buttons-container{
  background-color: #10151C !important;
}

.friend .dx-texteditor-input{
  background-color: #10151C !important;
  /* color: white !important; */
}

.sharing-group{
  /* background-color: #1F2937 !important; */
  display: flex !important;
  height: 100% !important;
  width: 100% !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.share-button{
  margin-top: 15px;
}

/* variabili tema */
:root {
  --color-bg-primary: #111827;
  --color-bg-secondary: #1F2937;

  --color-accent: #4F46E5;
  --color-accent-hover: #4338CA;
  --color-accent-light: #818CF8;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #D1D5DB;

  --color-border: #374151;

  --color-success: #059669;
  --color-danger: #DC2626;
}
